/*------------------------------------
BASE
------------------------------------*/

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*------------------------------------
ÉLÉMENTS
------------------------------------*/

body{
    font-family: "Dosis", serif;
    font-size: 16x;
}

a{
    text-decoration: none;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}




/*------------------------------------
COMPONENTS
------------------------------------*/

/*HEADER*/

header{
    background-color: white;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}

h1{
    font-weight: 600;
    font-size: 43.34px;
    color: black;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

header ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    align-items: center;
}


button:hover{
    background-color: #0E5EA1;
    color: white;
}

button{
    background-color: white    ;
    border: 0px;
    border-radius: 5px;
    padding-top: 4px;
    padding-left: 11px;
    padding-bottom: 4px;
    padding-right: 9px;
    font-size: 16px;
    font-weight: 700;
}

/*SECTION HERO*/

.hero{
    background-image: url(../images/montagnesalpes.jpg);
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
}

.hero .wrapper{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 450px;
    background-color: rgba(0, 0, 0, 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}

h2{
    color: white;
    font-size: 36px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 span{
    color: #2FCB48;
    font-size: 20px;
    font-weight: 300;
    font-family: "Roboto", serif;
    display: block;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/*SECTION */

.contenu{
    background-color: #E3E4E4;
}

h3{
    font-size: 24px;
    font-weight: 600;
}

.conteneur p{
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.contenu .wrapper{
    display: grid;
    padding: 40px;
    gap: 40px;
}

.conteneur{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.conteneur article{
    background-color: white;
    padding: 10px;
    border-bottom: #0E5EA1;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.conteneur button{
    background-color: #B7B7B7;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 45px;
    margin-left: 45px;
    height: 40px;
    width: 150px;
    margin: 0;
    margin-left: 50px;
}


.conteneur button span{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.conteneur button:hover{
    background-color: #0E5EA1;
    color: white;
}




/*FOOTER*/

footer{
    background-color: black;
}

footer .wrapper{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: white;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}


.facebook a{
    background-image: url("../images/facebook-nb.jpg");
}


.facebook a:hover{
    background-image: url("../images/facebook-survol.jpg");
}
